/* CSS for details title ---------------------------------------------------------*/
.request-title-container {
    position: fixed;
    width: calc(85% - 20px);
    background-color: #F7F7F7;
    padding: 0;
    z-index: 100;
}

.request-title-container > div {
    padding-top: 30px;
}

.request-title {
    background-color: #F7F7F7;
    font-size: 30px;
    height: 55px;
    padding-bottom: 10px;
}

.request-title > a {
    color: black;
}

@media only screen and (min-width: 993px) {

    .request-title-container {
        width: calc(70% - 280px);
    }
}

/* CSS for detail content -----------------------------------------------------------------*/
.detail-container {
    padding: 0 10px 0 0;
}

.details {
    padding-top: 95px;
}

.divider {
    background-color: #3A67B4;
}

.information .col {
    min-height: 160px;
}

.information h6 {
    font-size: 0.9rem;
}

.information .info {
    color: #3A67B4;
}

/* CSS for statistics -----------------------------------------------------------------*/
.ct-series-a .ct-bar {
    /* Colour of your bars */
    stroke: #4eb461;
    stroke-width: 5%;
}

/* CSS for loading box -----------------------------------------------------------------*/
.loading {
    color: #3A67B4;
    transition: all linear 0.5s;
    overflow: hidden;
    height: 250px;
}

.loading.ng-hide {
    height: 0;
    margin: 0;
    padding: 0;
}

.loading > .card {
    height: 200px;
    padding-top: 50px;
}

.loading .spinner-blue, .spinner-blue-only {
    border-color: #3A67B4;
}

/* CSS for svg chart -----------------------------------------------------------------*/
.svg-container.detail-timeline {
    display: inline-block;
    position: relative;
    width: 100%;
    /*padding-bottom: 100%;*/
    vertical-align: middle;
    overflow: hidden;
}

.detail-timeline .milestone > rect {
    fill: #3A67B4;

}

.detail-timeline .milestone > text {

    font-size: 0.7em;
    fill: white;
    text-anchor: middle;
    alignment-baseline: middle;
}


.milestone {
    color: white;
    text-align:center;
}

.header {
    height: 20px;
    font-variant: small-caps;
    font-size: 0.9rem;
}