/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.teal-text{
  font-size: xx-large;
}

/* CSS für Grundgerüst ---------------------------------------------------------*/
.top_nav{
  float: left;
  position:fixed;
}
.top_nav a{
  color: #3A67B4;
  position: fixed;
}
.ng-scope{
  background-color: #F7F7F7;
}
.nav-wrapper{
  background-image: url(overview/img/header.gif);
  height:56px;
}
.brand-logo{
  margin-left: 55px;
}

/* CSS für ganzes Panel ---------------------------------------------------------*/

.card-panel{
  border: transparent;
}
.card-panel.ng-scope{
  background-color: white;
}

/* CSS für Filter----------------------------------------------------------------- */

#filter_panel{
  /*margin-top: 60px;*/
  padding-top: 0px;
  box-shadow: none;
  background-color: #F7F7F7;
  border: solid #3A67B4;
  border-radius:0px;
  border-width: 0px 4px 0px 0px;
  height: 100%;
  position: fixed;
  width: 33%;
}
.card-panel div{
  margin-top: 0px;
  border: transparent;
}
input[type=text]{
  color: #0050A0;
  font-size: 16px;
  border: 2px solid #3A67B4;
  background-color: #FFFFFF;
  height: 30px;
  padding: 3px;
  border-radius: 20px;
  line-height: normal;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
input[type=text]:focus:not([readonly]){
  border-bottom: 2px solid #3A67B4;
  box-shadow: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
input[type=text].valid{
  border-bottom: 2px solid lightgrey;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
select div{
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 30px;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
  cursor: pointer;
  outline: none;
  font-weight: bold;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.select-wrapper input.select-dropdown{
  color: #3A67B4;
  font-size: 16px;
  border: 2px solid #3A67B4;
  height: 30px;
  padding: 3px;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  background: white;
  line-height: normal;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.dropdown-content{
  border-radius: 20px;
  border: 2px solid #3A67B4;
  background-color: white;
}
.dropdown-content li > a, .dropdown-content li > span{
  font-size: 16px;
  color: #3A67B4;
  display: block;
  height: 40px;
  line-height: normal;
}
.dropdown-content li > a, .dropdown-content li > span:hover{
  background-color: #F7F7F7;
  border: 1px solid #3A67B4;
  border-left: none;
  border-right:none;
}
.btn{
  background-color: #3A67B4;
  border-radius: 20px;
  margin-left: -120%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn div{
  margin-left: 0px;
}
.btn:hover{
  background-color: #3A67B4;
  box-shadow: 4px;
}

/* CSS für Results-----------------------------------------------------------------*/
#results_panel{
  border: 2px solid #3A67B4;
  border-radius: 8px;
  height: 130px;
  cursor: pointer;
}
#results_panel:first-of-type{
}
.value_class:first-of-type{
  padding-top: 80px;
}
.value_class{
  float: left;
  padding-right: 60px;
}

/* CSS für Details -----------------------------------------------------------------*/
#details_panel{
  padding-top: 0px;
  box-shadow: none;
  background-color: #F7F7F7;
  border: none;
  height: 100%;
}
#back_btn{
  content: url(overview/detail/img/back_btn.png);
  height: 40px;
  width: 40px;
  -moz-transform:rotate(180deg); /* Firefox 3.6 Firefox 4 */
  -webkit-transform:rotate(180deg); /* Safari */
  -o-transform:rotate(180deg); /* Opera */
  -ms-transform:rotate(180deg); /* IE9 */
  transform:rotate(180deg); /* W3C */
  float: left;
  margin-top: 5px;
  cursor: pointer;
  position: fixed;
  z-index: 5; /*für cursor*/
}
.serviceID_details{
  background-color: #F7F7F7;
  float: left;
  padding-left: 50px;
  font-size: 30px;
  position: fixed;
  border: 2px solid #3A67B4;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 60px;
  width: 100%;
}
.serviceID_details div{
  z-index: 10;
}
.detail_container{
  height: 150px;
  z-index: 10;
}
#timeline_container{
  display: inline-block;
  margin-top: 70px;
  border-top: none;
  width: 100%;
  border: 2px solid #3A67B4;
  border-left: none;
  border-right: none;
  border-top: none;
  z-index: 3;
}
#contactdetails_container{
  display: inline-block;
  margin-top: 20px;
  border-top: none;
  width: 100%;
  border: 2px solid #3A67B4;
  border-left: none;
  border-right: none;
  border-top: none;
}
#detailspan{
  font-size: 14px;
  font-weight: bold;
}
#customer_name_span{
  font-weight: bold;
  float: left;
}
.customer_detail_class{
  float: left;
  padding-right: 60px;
  font-size: 10px;
}
.service_type_class{
  float: left;
  padding-right: 60px;
  font-size: 10px;
}
#service_type_span{
  font-weight: bold;
  float: left;
}

