/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.teal-text {
    font-size: xx-large;
}

/* CSS für Grundgerüst ---------------------------------------------------------*/
.content{
    padding-left: 30%;
}

.top_nav {
    float: left;
    position: fixed;
}

.top_nav a {
    color: #3A67B4;
    position: fixed;
}

.side-nav{
    top: auto;
    z-index: auto;
    width: 30%;
}

.ng-scope {
    background-color: #F7F7F7;
}

.nav-wrapper {
    background-image: url(resources/img/header.gif);
    background-position-y: center;
    height: 56px;
}

.brand-logo {
    margin-left: 55px;
}

/*.cover_container {*/
    /*background-color: #F7F7F7;*/
    /*width: 100%;*/
    /*height: 50px;*/
    /*position: fixed;*/
/*}*/

/* CSS für ganzes Panel ---------------------------------------------------------*/


/*.card-panel.ng-scope {*/
    /*background-color: white;*/
/*}*/

/* CSS für Filter----------------------------------------------------------------- */

.side-nav{
    background:none;
    box-shadow:none;
}

.side-nav>div{
    padding: 30px 0;
    height:90vh;
}

.side-nav>div>form{
    height: 100%;
    border-right: solid #3A67B4;
}

.input-field{
    margin-top:0;
}

.input-field>input{
    height:40px;
}

input[type=text],
input[type=text]:focus:not([readonly]){
    box-sizing:border-box;
    color: #0050A0;
    border: 2px solid #3A67B4;
    background-color: #FFFFFF;
    padding: 0px 15px;
    border-radius: 20px;
    box-shadow: none;
}

.select-wrapper input.select-dropdown {
    color: #3A67B4;
    font-size: 16px;
    border: 2px solid #3A67B4;
    padding: 0 15px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    background: white;
    line-height: normal;
}

.dropdown-content {
    border-radius: 20px;
    border: 2px solid #3A67B4;
    background-color: white;
    line-height: normal;
}

.dropdown-content li>span{
    color:#3A67B4;
}

.btn {
    background-color: #3A67B4 !important;
    border-radius: 20px;
}

.btn:hover {
    background-color: #3A67B4;
    box-shadow: 4px;
}

/* CSS für Results-----------------------------------------------------------------*/

.results{
    padding-top:20px;
}

.request {
    border: 2px solid #3A67B4;
    border-radius: 8px;
    height: 130px;
    cursor: pointer;
}

/*#results_panel:first-of-type {*/
    /*margin-top: 30px;*/
/*}*/

.value_class:first-of-type {
    padding-top: 80px;
}

.value_class {
    float: left;
    padding-right: 60px;
}

/* CSS für Details -----------------------------------------------------------------*/
#details_panel {
    padding-top: 0px;
    box-shadow: none;
    background-color: #F7F7F7;
    border: none;
    height: 100%;
}

.back-button {
    content: url(resources/img/back_btn.png);
    height: 45px;
    float: left;
    cursor: pointer;
    margin-right: 10px;
}

.request-title {
    background-color: #F7F7F7;
    font-size: 30px;
}

.detail-container {
    padding: 0 10px;
}

.details{
    padding-top: 95px;
}

#timeline_container {
    display: inline-block;
    margin-top: 70px;
    border-top: none;
    width: 100%;
    z-index: 3;
}

#detailspan {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.detail_headings {
    font-weight: bold;
    float: left;
}

.customer_detail_class {
    float: left;
    padding-right: 60px;
    font-size: 10px;
    margin-top: 0px;
}

.divider {
    background-color: #3A67B4;
    z-index: 1;
}

.request-title-container {
    position: fixed;
    width: 100%;
    background-color: #F7F7F7;
    padding: 0;
}

.request-title-container>div{
    padding-top: 30px;
}

.section {
    z-index: 2;
}

/* CSS für Footer -----------------------------------------------------------------*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer.page-footer {
    background-color: #3A67B4;
    padding-top: 0;
    z-index: 12;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer-copyright {
    margin-left: 0px;
    background-color: #3A67B4;
}

.footer-copyright span {
    margin-left: 55px;
    font-size: 12px;
}

footer.page-footer .footer-copyright {
    height: 25px;
}

.footer-copyright > .container {
    line-height: 25px;
    max-width: 100%;
    width: 100%;
    margin: 2px 20px;
    font-size: 12px;
}




